Assignment 4 UCS712 R.no 102317283(Dhairya)

#A4.1

In [4]:
print("Printing table of 7")
for x in range(1,11):
    print("7 x " + str(x) + " = " + str(7*x))

print("\n\nPrinting table of 9")
for x in range(1,11):
    print("9 x " + str(x) + " = " + str(9*x))

Printing table of 7
7 x 0 = 0
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
Printing table of 9
9 x 0 = 0
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

#A4.2

In [10]:
print("write the number for table: ")
num = int(input())
for x in range(1,11):
    print(str(num) + " x " + str(x) + " = " + str(num*x))

write the number for table:

 5

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

#A4.3

In [16]:
print("welcome to the program for finding the sum of first n natural numbers")
print("enter n")
num = int(input())
print("sum of first " + str(num) + " natural numbers is " + str(num*(num+1)//2))

welcome to the program for finding the sum of first n natural numbers
enter n

 6

sum of first 6 natural numbers is 21.0